 /* div center */
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: grid;
    place-items: center;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* button 1 */
 .btn1 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn1:hover {
    box-shadow: 0 0 0 5px#fff, 0 0 0 10px #ff7a00;
    border: 2px solid #ff7a00;
}
/* button 2 */

.btn2 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.btn2::before,
.btn2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff7a00;
    top: 0;
    left: 0;
    transition: clip-path 0.3s;
    z-index: -1;
}

.btn2::before {
    clip-path: circle(0 at 0 0);
}

.btn2::after {
    clip-path: circle(0 at 100% 100%);
}

.btn2:hover {
    color: #fff;
}

.btn2:hover::before {
    clip-path: circle(100% at 0 0);
}

.btn2:hover::after {
    clip-path: circle(100% at 100% 100%);
}
/* button 3 */

.btn3 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btn3::before,
.btn3::after {
    --offset: 2px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.3s;
    opacity: 0;
}

.btn3::before {
    border-left: 2px solid #ff7a00;
    border-top: 2px solid #ff7a00;
    top: var(--offset);
    left: var(--offset);
}

.btn3::after {
    border-bottom: 2px solid #ff7a00;
    border-right: 2px solid #ff7a00;
    bottom: var(--offset);
    right: var(--offset);
}

.btn3:hover {
    background-color: #ff7a00;
    color: #fff;
    transition-delay: 0.3s;
}

.btn3:hover::before,
.btn3:hover::after {
    width: calc(100% - 6%);
    height: calc(100% - 6%);
    opacity: 1;
}
/* button 4 */

.btn4 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.1s;
}
        
.btn4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 5s;
}
        
.btn4:hover {
  background-color: #ff7a00;
  color: #fff;
}
        
.btn4:hover::before {
   transform: skewX(30deg) translate(150%, -50%);
   transition-delay: 0.1s;
}
/* button 5 */

.btn5 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.btn5::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #ff7a00;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.btn5:hover::before {
    width: 100%;
}

.btn5:hover {
    color: #fff;
}
/* button 6 */

.btn6 {
    padding: 16px 48px;
    background: none;
    border: 2px solid #131313;
    color: #131313;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btn6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff7a00;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
}

.btn6:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.btn6:hover {
    color: #fff;
}

/* create by IDR */
